{% if projects|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Beskrivelse</th>
                <th>Status</th>
                <th>Elever</th>
                <th>Leder</th>
                <th>Ejer</th>
                <th>Oprettet</th>
            </tr>
        </thead>
        {% for project in projects %}
            <tr>
                <td><a href="{% url 'project-detail' project.pk project.slug %}">{{ project.name|truncatechars:25 }}</a></td>
                <td>{{ project.description|truncatechars:50 }}</td>
                <td>
                    {% if project.status == 'PENDING' %}
                        <span class="badge badge-warning">Modtaget</span>
                    {% elif project.status == 'CURRENT' %}
                        <span class="badge badge-danger">Igangværende</span>
                    {% else %}
                        <span class="badge badge-success">Færdiggjort</span>
                    {% endif %}
                </td>
                <td>{{ project.worker_count }}</td>
                <td>
                    {% if project.leader %}
                        {{ project.leader.username }}
                    {% else %}
                        <i><b>Ingen leder</b></i>
                    {% endif %}
                </td>
                <td>{{ project.owner.get_full_name }}</td>
                <td>{{ project.created_at|date:"d M, Y" }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <div>
        <i><b>{{ no_projects_msg }}</b></i>
    </div>
{% endif %}