{% extends 'base.html' %}
{% block content-fluid %}

{% comment %} Short description of the page {% endcomment %}
<div class="col-md-10 offset-md-1 mb-4 content-section">
    <h1>Projekt oversigt</h1>
    <div>
        Dette er en oversigt over alle projekter, dit hold har modtaget.<br>
        Klik på et projekts navn for at se deres flere detajler om det, samt udføre handlinger derpå.
    </div>
</div>

{% comment %} Active projects {% endcomment %}
<div class="row">
    <div class="col-md-10 offset-md-1 content-section">
        <h2>Igangværende projekter</h2>
        {% include 'projects/includes/project_table.html' with projects=active_projects %}
    </div>
</div>

{% comment %} Completed projects {% endcomment %}
<div class="row">
    <div class="col-md-10 offset-md-1 content-section">
        <h2>Færdiggjorte projekter</h2>
        {% include 'projects/includes/project_table.html' with projects=finished_projects %}
    </div>
</div>
{% endblock content-fluid %}