{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Rediger bruger rolle</h2>
    </div>
</div>
<div class="row mt-3">
    <div class="col content-section">
        <h4>Du er ved at ændre på <b>{{ object.user.username }}s</b> rolle.</h4>
        <div>En rolle bestemmer hvilke rettigheder en bruger har på systemet. Instruktørere kan langt mere end elever kan.</div>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Gem">
                {% comment %} <button type="submit" class="btn btn-primary">Gem</button> {% endcomment %}
            </div>
        </form>
        {% if user.profile.team %}
            <div class="center-text">
                <small>Fortrudt? <a href="{% url 'team-detail' user.profile.team.pk user.profile.team.slug %}">Gå tilbage</a></small>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}