{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content-fluid %}
<div class="row">
    <div class="col offset-md-1 mb-2">
        <h1>Profil - {{ object.username }}</h1>
    </div>
</div>

{% comment %} Profile Section {% endcomment %}
<div class="row">
    <div class="col-md-6 offset-md-1 content-section">
        <h3>{{ object.get_full_name }}</h3>
        <div class="row">
            <div class="col">
                <img src="{{ object.profile.pfp.url }}" alt="NO_IMG" class="box-img">
            </div>
            <div class="col">
                <p>
                    <b>Fulde navn:</b><br>
                    {{ object.get_full_name }}
                </p>
                <p>
                    <b>Username:</b><br>
                    {{ object.username }}
                </p>
                <p>
                    <b>Email:</b><br>
                    {{ object.email }}
                </p>
                <p>
                    <b>Telefon:</b><br>
                    {% if object.profile.phone_number %}
                        {{ object.profile.phone_number }}
                    {% else %}
                        <i>Intet tlf nr fundet.</i>
                    {% endif %}
                </p>
                {% comment %} {% if is_current_user %}
                    <p>
                        <b>Opdater info & kodeord:</b><br>
                        <a href="#" type="button" class="btn btn-primary">Rediger</a>
                    </p>
                {% endif %} {% endcomment %}
            </div>
            <div class="col">
                {% if object.profile.role.name != 'Client' %}
                    <p>
                        <b>Hold:</b><br>
                        {% if object.profile.team %}
                            <a href="{% url 'team-detail' object.profile.team.pk object.profile.team.slug %}">
                                {{ object.profile.team.name }}
                            </a>
                        {% else %}
                            <i>Intet hold.</i>
                        {% endif %}
                    </p>
                    <p>
                        <b>Projekter:</b><br>
                        {{ object.profile.project_set.all|length }}
                    </p>
                {% endif %}
            </div>
        </div>
        {% if is_current_user %}
            <div class="row">
                <div class="col-md-2 mt-3">
                    <a href="{% url 'profile-update' object.pk %}" type="button" class="btn btn-primary">Opdater profil</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% comment %} /Profile Section {% endcomment %}
<br>
{% comment %} Projects {% endcomment %}
{% if object.profile.role.name == 'Client' or object.profile.role.name == 'Team Leader'%}
    <div class="row">
        <div class="col-md-10 offset-md-1 content-section">
            <h2>Oprettede Projekter</h2>
            <div>
                En liste af projekter som
                {% if is_current_user %}
                    du
                {% else %}
                    {{ object.username }}
                {% endif %}
                har oprettet.
            </div>
        {% include 'projects/includes/project_table.html' with projects=owns_projects %}
        </div>
    </div>
{% endif %}

{% if object.profile.role.name == 'Team Leader' %}
    <div class="row">
        <div class="col-md-10 offset-md-1 content-section">
            <h2>Leder Projekter</h2>
            <div>
                En liste af projekter som
                {% if is_current_user %}
                    du
                {% else %}
                    {{ object.username }}
                {% endif %}
                er leder af.
            </div>
            {% include 'projects/includes/project_table.html' with projects=leads_projects%}
        </div>
    </div>
{% endif %}

{% if object.profile.role.name != 'Client' %}
    <div class="row">
        <div class="col-md-10 offset-md-1 content-section">
            <h2>Projekter</h2>
            <div>
                En liste af projekter som
                {% if is_current_user %}
                    du
                {% else %}
                    {{ object.username }}
                {% endif %}
                arbejder på.
            </div>
            {% include 'projects/includes/project_table.html' %}
        </div>
    </div>
{% endif %}
{% comment %} /Projects {% endcomment %}
{% endblock content-fluid %}