{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col content-section">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Opret note</legend>
                <hr>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Opret</button>
            </div>
        </form>
        {% if user.profile.team %}
            <div class="center-text">
                Fortrudt? <a href="{% url 'project-detail' project.pk project.slug %}">Gå tilbage</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}