{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Slet {{ object.name }}?</h2>
    </div>
</div>
<div class="content-section">
    <div class="row">
        <div class="col">
            Er du sikker på du vil slette <b>{{ project.name }}</b>? Dette vil også slette relaterede billeder og notater!<br>
            Denne handling kan <b>ikke</b> fotrydes, og det er <b>ikke</b> muligt at gendanne projektet eller dets relaterede information.
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <form action="" method="post">
                {% csrf_token %}
                <a href="{% url 'project-detail' project.pk project.slug %}" class="btn btn-primary">Gå tilbage</a>
                <input type="submit" class="btn btn-danger" value="Ja, jeg er sikker">
            </form>
        </div>
    </div>
</div>
{% endblock content %}