<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'team-detail' user.profile.team.pk user.profile.team.slug %}">Leder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            
            {% comment %} Teams dropdown {% endcomment %}
            {% if user.profile.team %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hold
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% comment %} <a class="dropdown-item" href="{% url 'team-index' user.profile.team.pk user.profile.team.slug %}">Oversigt</a> {% endcomment %}
                        <a class="dropdown-item" href="{% url 'team-detail' user.profile.team.pk user.profile.team.slug %}">Detaljer</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'team-create' %}">Opret nyt</a>
                    </div>
                </li>
            {% comment %} /Teams dropdown {% endcomment %}

            {% comment %} Projects dropdown {% endcomment %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Projekter
                        {% if user.profile.team.notification_set.get_unread|length > 0 %}
                            <span class="badge badge-danger">{{ user.profile.team.notification_set.get_unread|length }}</span>
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'team-projects' user.profile.team.pk user.profile.team.slug %}">
                            Oversigt
                        </a>
                        <a class="dropdown-item" href="{% url 'team-project-requests' user.profile.team.pk user.profile.team.slug %}">
                            Kunde anmodninger
                            {% if user.profile.team.notification_set.get_unread|length > 0 %}
                                <span class="badge badge-danger">{{ user.profile.team.notification_set.get_unread|length }}</span>
                            {% endif %}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'project-create' %}">Opret nyt</a>
                    </div>
                </li>
            {% endif %}
            {% comment %} /Projects dropdown {% endcomment %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% include 'nav/nav_components/user_section.html' %}
        </ul>
    </div>
</nav>